*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(210, 235, 255);
}

h1{
    background-color:rgb(233, 108, 156);
    color:azure;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    opacity: 50%;
    cursor: pointer;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-size: 3rem;
    margin-top: 2rem;
}

.msg-container{
    margin-top: 4rem;
}

#msg{
    background-color:rgb(233, 108, 156);
    color: azure;
    font-size: 3rem;
    display: inline;
    padding: 1rem;
    border-radius: 2rem;
}